body{
    text-align: center;
}
.button{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 7px solid black;
    background-color: pink;
    margin: 2rem;
}
.buttonbox{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.brown{
    background-color: brown;
}
.flash{
    background-color: whitesmoke;
}
.userflash{
    background-color: turquoise;
}